body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2vh;
    text-align: center;
    border-radius: 2vh;
}

.background {
    background-image: url('coffee_beans.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.title {
    font-size: 6vh;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.subtext {
    font-size: 4vh;
    text-align: center;
}

.menu {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4vh;
    text-align: center;
    border-radius: 2vh;
    margin: 4vh;
}

.menu h2 {
    font-size: 4vh;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.menu img {
    width: 10vh;
    height: 10vh;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 20vw;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.348);
    transition: left 0.3s ease-in-out;
    z-index: 1;
    backdrop-filter: blur(30px);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 4vh 0;
}

.sidebar li {
    margin-bottom: 2vh;
}

.sidebar button {
    width: 100%;
    padding: 2vh;
    background-color: transparent;
    color: white;
    border: 0 solid;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar button:hover {
    background-color: #333;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    display: none;
}

.open-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    backdrop-filter: blur(8px);
}

.open-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}